<template>
    <div class="container">
<!--        {{isAuthenticated}}-->
        <div class="row justify-content-center">
            <div class="col-md-3" v-for="rep in repos" v-if="repos" :key="rep.id">
                <div class="card mb-3">
<!--                    {{rep.id}}-->
                    <div class="card-header"
                         style="cursor: pointer"
                         @click="getRepoClicked(rep)">{{ rep.name }}</div>

                    <div class="card-body">
                        <div>
                            <router-link
                                :repoSelected="repoSelected"
                                :to="{name: 'view-repo' , params: {'full_name': rep.full_name, 'repo_id':rep.id}}"
                                class="routerLink"
                            >
                                <span style="cursor: pointer"
                                      class="text-dark"
                                      @click="getRepoClicked(rep)"
                                >
                                    {{ rep.description }}
                                </span>
                            </router-link>

                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="fb-comments" :data-href="fbCommentedUrl" data-width="" data-numposts="5"></div>-->
<!--        <br/>-->
<!--        <button type="button" class="btn btn-success" @click="addSuggestion(repoSelected)" v-show="repoSelected">add Suggestions</button>-->
<!--        <button type="button" class="btn btn-success" @click="addPreference({id: repoSelected.id, type: preferences['like']})" v-show="repoSelected">add to favorites</button>-->
<!--        <div class="row"></div>-->
<!--        <div v-html="body"></div>-->
    </div>
</template>

<script>
import {mapActions} from 'vuex'
import {mapGetters} from 'vuex'
export default {
    data() {
        return {
            loaded: false,
            info: null,
            fileContent: null,
            base64_file: null,
            fbCommentedUrl: null,
            // selectedPackageId: null,
            selectedPackageName: null,
            selectedPackageUrl: null,
            repoSelected: null,
            preferences: {
                like: 1,
                dislike: 2,
                default: 0
            }
        }
    },
    props: {
        isAuthenticated: {
            type: Number,
            required: true
        }
    },
    mounted() {
        console.log('Component mounted.')
        this.getRepose({
            quran: 'quran'
        })
    },
    computed: {
        ...mapGetters([
            'repos',
            'body',
        ]),
    },
    created() {

    },
    methods: {
        ...mapActions([
            'getRepose',
            'getMDfiles',
            'fb_parse',
            'addSuggestion',
            'addPreference',
        ]),
        getRepoClicked(repo) {
            // console.log(repo.id)
            this.repoSelected = repo
            this.fbCommentedUrl = 'https://quranhub.test/' + repo.id
            this.getMDfiles(repo)
        }
    }
}
</script>
<style scoped>
.routerLink{
    text-decoration: none;
}
</style>
