<template>
    <div>
        <vue-editor
            useCustomImageHandler
            @image-added="handleImageAdded"
            v-model="getBody"
            :editorToolbar="customToolbar">
            >

        </vue-editor>
        <button class="btn btn-success" @click="addModificationBody" :disabled="content == ''">request approve</button>
        <a class="btn btn-danger" @click="$router.go(-1)">back</a>
    </div>
</template>

<script>
import {VueEditor} from "vue2-editor";
import {mapActions} from 'vuex'
import {mapGetters} from 'vuex'
import axios from "axios";

export default {
    name: "SuggestionEdit",
    props: {
        bodyReceived: {
            type: String
        },
        isAuthenticated: {
            type: Number,
            required: true
        }
    },
    components: {
        VueEditor
    },
    data() {
        return {
            id: this.$route.params.id,
            full_name: this.$route.params.full_name,
            content: '',
            customToolbar: [["bold", "italic", "underline", 'strike', 'link'],
                [{list: "ordered"}, {list: "bullet"},],
                [{'header': 1}, {'header': 2}],
                [{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
                [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent
                [{'direction': 'rtl'}],                         // text direction

                [{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
                [{'header': [1, 2, 3, 4, 5, 6, false]}],

                [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                [{'font': []}],
                [{'align': []}],

                ['clean'], // remove formatting button
            ],
            errorMsg: null
            // bodyData: this.body
        };
    },
    // beforeRouteEnter(to, from, next) { //to.query.redirectFrom
    //     if (this.isAuthenticated) {
    //         next(vm => {
    //             vm.errorMsg =
    //                 "Sorry, you don't have the right access to reach the route requested"
    //         })
    //     } else {
    //         next()
    //     }
    // },
    mounted() {
        // this.content = this.bodyData
    },
    computed: {
        ...mapGetters([
            'body',
            'selectedRepo',
        ]),
        getBody: {
            get: function () {
                return this.body;
            },
            set: function (value) {
                this.content = value
            }
        }
    },
    created() {
        // console.log('asdw')
        if(this.isAuth() != 0){
            this.selectedRepoAction(this.full_name)
        }else{

            window.location.replace('/login');
            // this.$router.push('/login')
        }

        // this.getMDfiles({
        //     full_name: this.full_name
        // })
        // this.content = this.body
    },
    methods: {
        ...mapActions([
            'getMDfiles',
            // 'addSuggestion',
            'addPreference',
            'selectedRepoAction',
            'addModificationRequest',

        ]),
        addModificationBody() {
            // console.log(this.content)
            // this.id = this.selectedRepo
            var data = {
                post_id: this.id,
                full_name: this.full_name,
                modify: this.content
            }

            this.addModificationRequest(data)
            // console.log(object)
        },
        handleImageAdded: function (file, Editor, cursorLocation, resetUploader) {
            // An example of using FormData
            // NOTE: Your key could be different such as:
            // formData.append('file', file)

            var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')

            var formData = new FormData();
            formData.append("image", file);
            formData.append("_token", token);

            axios({
                url: "addImagePost",
                method: "POST",
                data: formData
            })
                .then(result => {
                    let url = result.data.url; // Get url from response
                    Editor.insertEmbed(cursorLocation, "image", url);
                    resetUploader();
                })
                .catch(err => {
                    console.log(err);
                });
        },
        isAuth(){
            return this.isAuthenticated;
        }
    }
}
</script>

<style scoped>

</style>
