<template>
    <div>
<!--        {{id}}-->
<!--        {{ selectedRepo }}-->
<!--        {{'https://quranhub.test/' +repoSelectedData.id}}-->

        <div class="container">
<!--            {{(usersRepo.length)>0}}-->
            <div class="row" v-if="(usersRepo.length)>0 && selectedRepo">
                <div>
                    Select edited by users
                </div>
                <div v-for="userEdited in usersRepo" class="col-md-1 text-center">
                    <router-link :to="{name:'view-suggestion', params: {
                            user_id: userEdited.id,
                            post_id: selectedRepo.id
                    }}">
                    <img :src="avatar_img_src" width="100" height="100" alt="developer avatar" class="rounded-circle">
                    <div>{{ userEdited.name }}</div>
                    </router-link>
                </div>
            </div>
            <div class="row">

                <div class=" col-md-3" v-if="selectedRepo">
                    <div class="row">

<!--                    <img :src="selectedRepo.owner.avatar_url"-->
<!--                                 width="100" height="100" alt="developer avatar"-->
<!--                                 class="rounded-circle">-->
                    <div class="col-md-12">
                        <table class="table table-sm">
                            <thead>

                            <tr>
                                <th scope="col">package owner</th>
                                <th scope="col">package name</th>
                                <th scope="col">profile</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>{{ selectedRepo.owner.login }}</td>
                                <td>{{ selectedRepo.name }}</td>
                                <td>
                                    <a :href="selectedRepo.owner.html_url">
                                    <img :src="selectedRepo.owner.avatar_url"
                                         width="50" height="50" alt="developer avatar"
                                         class="rounded-circle">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Last Upadate</th>
                                <th scope="col">Language</th>
                                <th scope="col">Github</th>
                            </tr>
                            <tbody>
                            <tr>
                                <td>{{ dateReformat(selectedRepo.updated_at) }}</td>
                                <td>{{selectedRepo.language}}</td>
                                <td><a :href="selectedRepo.html_url">Github</a></td>
                            </tr>

                            <tr>
                                <th colspan="3">clone url</th>

                            </tr>
                            <tr>
                                <td colspan="3">{{ selectedRepo.clone_url }}</td>
                            </tr>
                            <tr>
                                <th colspan="3">home page</th>
                            </tr>
                            <tr>
                                <td colspan="3">{{ selectedRepo.homepage }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                        <div class="col-md-12">
                            <router-link
                                v-if="selectedRepo"
                                :to="{
                            name: 'suggestions-repo',
                         params: {
                            id: selectedRepo.id,
                            full_name: selectedRepo.full_name,
                            body: body}
                        }"
                                class="btn btn-success"
                                @click="addSuggestion(selectedRepo)"
                                v-show="selectedRepo"
                                tag="button"
                            >
                                Suggestions
                            </router-link>
                            <button type="button"
                                    class="btn btn-success"
                                    @click="addPreference({id: selectedRepo.id, type: preferences['like']})"
                                    v-show="selectedRepo">add to favorites</button>
                        </div>

                    <div class="fb-comments col-md-12" :data-href="'https://quranhub.test/' +selectedRepo.id" data-width="" data-numposts="5"></div>

                </div>
                </div>

                <!--            <div class="row"></div>-->
                <div class="col-md-8">
                    <div v-html="body"></div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
import {mapGetters} from 'vuex'
import moment from 'moment'
export default {
    name: "viewRepo",
    data(){
        return {
            full_name: this.$route.params.full_name,
            id: this.$route.params.repo_id,
            repoSelectedPassed: this.$route.params.repoSelected,
            avatar_img_src: '/images/dev-avatar.jpg',
            // fbCommentedUrl: 'https://quranhub.test/' + this.full_name,
            preferences: {
                like: 1,
                dislike: 2,
                default: 0
            }
        }
    },
    props: {
        // repoSelected: {
        //     type: Object,
        //     // required: true
        // },
        isAuthenticated: {
            type: Number,
            required: true
        }
    },
    computed: {
        ...mapGetters([
            'body',
            'selectedRepo',
            'usersRepo',
        ]),
        // repoSelectedData(){
        //     return this.repoSelectedPassed ? this.repoSelectedPassed : this.selectedRepo
        // },
        // fbCommentedUrl(){
            // return this.repoSelectedPassed ? 'https://quranhub.test/' + this.repoSelectedPassed.id : this.repoSelectedData.id
        // }
    },
    created(){
        // console.log(this.full_name)
        this.selectedRepoAction(this.full_name)
        // this.getRepoClicked()
        this.getRepoModifications(this.id)
    },
    mounted() {
        this.$nextTick(function () {
            // Code that will run only after the
            // entire view has been rendered
        })
    },
    methods: {
        ...mapActions([
            'getMDfiles',
            'fb_parse',
            'addSuggestion',
            'addPreference',
            'selectedRepoAction',
            'getRepoModifications',
        ]),
        // getRepoClicked() {
        //     // console.log(repo.id)
        //     // this.repoSelected = repo
        //     this.fbCommentedUrl = 'https://quranhub.test/' + this.full_name
        //     this.getMDfiles(repoSelected)
        // }
        dateReformat(value) {
            return moment(String(value)).format('DD/MM/YYYY')
        }
    }
}
</script>

<style scoped>

</style>
