<template>
    <div>
        <div class="container">
        <div class="row">
<!--            {{usersRepoModification.length != ''}}-->
            <div class=" col-md-3" v-if="usersRepoModification.length != ''">
                <div class="row">
<!--                    <div class="col-md-12">-->
                    <table class="table table-sm  col-md-12">
                            <thead>

                            <tr>
                                <th colspan="2">editor avatar</th>
                                <th scope="col">editor name</th>
                            </tr>
                            </thead>
                            <tr>
                                <td colspan="2">
                                    <img :src="avatar_img_src"
                                         width="50" height="50" alt="developer avatar"
                                         class="rounded-circle">
                                </td>
                                <td>{{ usersRepoModification.user['name'] }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Created Date</th>
                                <th scope="col">Updated Date</th>
                                <th scope="col">email</th>
                            </tr>
                            <tbody>
                            <tr>
                                <td>{{ dateReformat(usersRepoModification.created_at) }}</td>
                                <td>{{ dateReformat(usersRepoModification.updated_at) }}</td>
                                <td>{{ usersRepoModification.user['email'] }}</td>
                            </tr>

                            </tbody>
                        </table>
<!--                    </div>-->
                    <div class="col-md-12">
                    <router-link class="btn btn-success" tag="button" :to="{
                        name:'view-repo',
                        params: {
                            'full_name': usersRepoModification.full_name,
                            'repo_id': usersRepoModification.post_id
                        }
                    }">
                        Back to Original
                    </router-link>
                    </div>
                    <div class="fb-comments col-md-12" :data-href="'https://quranhub.test/' +usersRepoModification.id"
                         data-width="" data-numposts="5"></div>

                </div>
            </div>

            <!--            <div class="row"></div>-->
            <div class="col-md-8">
                <div v-html="usersRepoModification.modify"></div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
import {mapGetters} from 'vuex'
import moment from 'moment'

export default {
    name: "viewSuggestion",
    data() {
        return {
            post_id: this.$route.params.post_id,
            user_id: this.$route.params.user_id,
            avatar_img_src: '/images/dev-avatar.jpg',
        }
    },
    computed: {
        ...mapGetters([
            'usersRepoModification'
        ])
    },
    created() {
        let data = {
            post_id: this.post_id,
            user_id: this.user_id,
        }
        this.getRepoModificationsUser(data)
    },
    methods: {
        ...mapActions([
            'getRepoModificationsUser'
        ]),
        dateReformat(value) {
            return moment(String(value)).format('DD/MM/YYYY')
        }
    }
}
</script>

<style scoped>

</style>
